#############
## Custom
#############

# -- vim

vimfiles/backup/*
vimfiles/temp/*
vimfiles/undo/*
vimfiles/view/*

# -- vimperator

.vimperator/info/default/history-command
.vimperator/info/default/history-search
.vimperator/info/default/local-marks
.vimperator/info/default/macros
.vimperator/info/default/quickmarks
