#############
## Custom
#############

# -- vim

vimfiles/backup/*
vimfiles/temp/*
vimfiles/undo/*
vimfiles/view/*

# -- vimperator

.vimperator/info/*

# -- cow

.cow/stat.bat
.cow/stat
